<% form_for @subject do |f| %>

<%= render 'shared/form', :target => @subject %>

<p>
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :position %>
	<%= f.select :position, (1..@subject_count) %>
</p>
<p>
	<%= f.label :visible %>
	<%= f.select :visible, {"Visible" => true, "Hidden" => false} %>
</p>
<p>
	<%= f.submit :Done %>
</p>

<% end %>