<div class='page_title'>
	Subjects Index Page
</div>
<div class='page_title_sub'>
	<%= pluralize(@subjects.size, 'Subject') %> Found
</div>


<table class='no_space_tables'>
	<tr>
		<th>Name</th>
		<th>Position</th>
		<th>Visible</th>
		<th>Pages</th>
		<th></th>
		<th></th>
		<th></th>		
		<th></th>		
	</tr>
	<% @subjects.each do |subject| %>
	<tr class="<%= cycle('odd', 'even') %>">
		<td><%= subject.name %></td>
		<td><%= subject.position %></td>
		<td><%= subject.visible? ? 'Yes' : 'No' %></td>
		<td><%= subject.pages.size %></td>
		<td><%= link_to "Show", subject %></td>
		<td><%= link_to "Edit", edit_subject_path(subject) %></td>
		<td><%= link_to "Destroy", subject, :confirm => "Are you sure?", :method => :delete %></td>
	</tr>
<% end %>
</table>

<br />
<%= link_to 'New Subject', new_subject_path %>