<h1>Subject Detail</h1>

	<table>
		<tr>
			<th>Name</th>
			<td><%= @subject.name %></td>
		</tr>
		<tr>
			<th>Position</th>
			<td><%= @subject.position %></td>
		</tr>
		<tr>
			<th>Visible</th>
			<td><%= @subject.visible? ? 'Yes' : 'No' %></td>
		</tr>
		<tr>
			<th>Pages</th>
			<td>
				<ul style="list-style-type:none; padding-left:0;">
					<% @subject.pages.each do |page| %>
						<li><%= page.name %></li>
					<% end %>
				</ul>
			</td>
		</tr>
	</table>
	
<br />
<%= link_to "Back to subjects", subjects_path %>
				
